extends layout

block content
    div
      ul#messages
    #itemList
    #commands
      #commands2
        p COMMANDS
      table
        tbody
          tr
            th LOOK
            th ATTACK
            th LOOT
            th GOTO
          tr
    p
    p
    h2.text Situation
    b.text What do you want to do? (search/kill/quit)
    #status.text ...
    p
    hr
    br
    form(action='')
      input#userInput(type='text')
      button#enterBtn(type='button') ENTER
    p